.App {
  padding-top: 10px;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}
.alert.alert-info {
  padding-top: 0px;
  padding-bottom: 0px;
}

.editor {
  margin-bottom: 10px;
}
.blockchain-list {
  margin-top : 10px;
  margin-bottom: 10px;
}

.block {
  margin-bottom: 15px;
}

.block.is-invalid {
    border-color: red;
  }


.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
